<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="style.css" />
		<title>Add Event</title>
		<style>
			form {
				display: flex;
				flex-direction: column;
				row-gap: 64px;
				width: 400px;
				position: relative;
				top: 300px;
				left: 200px;
			}

			input,
			textarea {
				padding: 32px 12px;
			}
		</style>
	</head>
	<body>
		<form action="/action" method="post">
			<input type="text" name="head" id="head" placeholder="Enter the Title" />
			<textarea name="body" id="body" cols="30" rows="4"></textarea>
			<input type="submit" value="Add Event" />
		</form>
	</body>
</html>
