<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="style.css" />
		<title>Home Page</title>
	</head>
	<body>
		<!-- Nav Panel -->
		<nav>
			<div class="user-details">
				<!-- Contents -->
				<div class="prf-circle">
					<!-- Profile -->
				</div>
				<div class="prf-details">
					<h3>PROFILE NAME</h3>
					<p>ONLINE</p>
				</div>
			</div>
			<!-- Menu -->
			<i class="bx bx-menu bx-lg"></i>
		</nav>

		<!-- Menu Itms -->
		<div class="menu-items">
			<div class="opt"></div>
			<div class="opt"><i class="bx bxs-edit bx-sm"></i>Edit Event</div>
			<div class="opt">
				<i class="bx bx-folder-minus bx-sm"></i>Remove Event
			</div>
			<div class="opt"><i class="bx bx-show-alt bx-sm"></i>Show Event</div>
		</div>

		<section id="events">
			<!-- EVT cards -->
			<div class="event-card">
				<p class="sl-no">01</p>
				<div class="event-details">
					<p class="date">13.04.2023</p>
					<h3>Event Heading</h3>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
						assumenda sequi, magnam ad recusandae laborum maiores odit suscipit,
						ipsum cum harum tempora delectus eaque iusto reprehenderit excepturi
						nemo eius nihil blanditiis aut illo.
					</p>
				</div>
				<div class="status">
					<i class="bx bx-task bx-md"></i>
					<i class="bx bx-task-x bx-md"></i>
				</div>
			</div>
			<!-- EVT cards -->
			<div class="event-card">
				<p class="sl-no">02</p>
				<div class="event-details">
					<p class="date">13.04.2023</p>
					<h3>Event Heading</h3>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
						assumenda sequi, magnam ad recusandae laborum maiores odit suscipit,
						ipsum cum harum tempora delectus eaque iusto reprehenderit excepturi
						nemo eius nihil blanditiis aut illo.
					</p>
				</div>
				<div class="status">
					<i class="bx bx-task bx-md"></i>
					<i class="bx bx-task-x bx-md"></i>
				</div>
			</div>
			<!-- EVT cards -->
			<div class="event-card">
				<p class="sl-no">03</p>
				<div class="event-details">
					<p class="date">13.04.2023</p>
					<h3>Event Heading</h3>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
						assumenda sequi, magnam ad recusandae laborum maiores odit suscipit,
						ipsum cum harum tempora delectus eaque iusto reprehenderit excepturi
						nemo eius nihil blanditiis aut illo.
					</p>
				</div>
				<div class="status">
					<i class="bx bx-task bx-md"></i>
					<i class="bx bx-task-x bx-md"></i>
				</div>
			</div>
		</section>

		<!-- script -->
		<script src="script.js"></script>
	</body>
</html>
